<h3>My Images<h3>

<div id="users">
  <ul>
    <% current_user.gallery_items.each do |gal_item| %>
      <%= render partial: 'gallery_items/gallery_item', locals: {gallery_item: gal_item} %>
    <% end %>
  </ul>
</div>


