<li>
  <h3><%= gallery_item.email %></h3>
  <%= gallery_item.final_image %>
  <p>
    <b>Upvotes</b>: <%= gallery_item.upvotes %> ||
    <b>Image</b>: <%= gallery_item.final_image %> ||
  </p>
</li>

